/* Typography */




@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/poppins/poppins_n4.934accbf9f5987aa89334210e6c1e9151f37d3b6.woff2?&hmac=a26c177067467710b799e13b71d5721f54b5f733f905988a09d37a77232f0126") format("woff2"),
       url("https://fonts.shopifycdn.com/poppins/poppins_n4.ee28d4489eaf5de9cf6e17e696991b5e9148c716.woff?&hmac=f99517b82b6da9de0cdfe8aceb40e4132652b5e3e3d1c3b0906fe722b210b3bf") format("woff");
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/poppins/poppins_n4.934accbf9f5987aa89334210e6c1e9151f37d3b6.woff2?&hmac=a26c177067467710b799e13b71d5721f54b5f733f905988a09d37a77232f0126") format("woff2"),
       url("https://fonts.shopifycdn.com/poppins/poppins_n4.ee28d4489eaf5de9cf6e17e696991b5e9148c716.woff?&hmac=f99517b82b6da9de0cdfe8aceb40e4132652b5e3e3d1c3b0906fe722b210b3bf") format("woff");
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/poppins/poppins_n4.934accbf9f5987aa89334210e6c1e9151f37d3b6.woff2?&hmac=a26c177067467710b799e13b71d5721f54b5f733f905988a09d37a77232f0126") format("woff2"),
       url("https://fonts.shopifycdn.com/poppins/poppins_n4.ee28d4489eaf5de9cf6e17e696991b5e9148c716.woff?&hmac=f99517b82b6da9de0cdfe8aceb40e4132652b5e3e3d1c3b0906fe722b210b3bf") format("woff");
}


/* Custom Page */
.section-ptb {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .section-ptb {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/* End Custom Page */

/* banner hover css */
.banner-hover{
  position: relative;
  display: block;
  overflow: hidden;
}
.banner-hover::before,
.banner-hover::after{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
    left: 0;
    
}
.banner-hover::before{
    border: 70px solid rgba(255, 255, 255, 0);
}
.banner-hover::after{
    border: 30px solid #fff;
    transform: scale(0);
}
.banner-hover:hover::before{
    border: 0 solid rgba(255, 255, 255, 0.7);
}
.banner-hover:hover::after{
    opacity: 0;
    transform: scale(0.8);
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.banner-hover::before,
.banner-hover:hover::before,
.banner-hover::after,
.banner-hover:hover::after{
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
a.banner-hover img{
  width: 100%;
}

/* product quantity css */
.product-quantity .cart-plus-minus {
  display: flex;
  position: relative;
  border: 1px solid #e2e2e2;
}
.product-quantity .cart-plus-minus .qtybutton {
  color: #fff;
  font-size: 22px;
  position: absolute;
  
  right: 0px;
  
  height: 25px;
  width: 25px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 0;
}
.product-quantity .cart-plus-minus .dec.qtybutton{
  bottom: 0;
  border-top: 1px solid #fff;
}
.product-quantity .cart-plus-minus .inc.qtybutton{
  top: 0;
}
.product-quantity .cart-plus-minus input {
  height: 50px;
  width: 75px;
  
  padding: 0 25px 0 0;
  
  text-align: center;
  border: none;
}
.product-quantity .cart-plus-minus.disabled{
  opacity: .65;
  pointer-events: none;
}

/* blog post css */
.blog-post {
  position: relative;
  cursor: pointer;
}
.blog-post a.blog-img{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-post a.blog-img::after{
  content: "";
  position: absolute;
  top: 0;left: 0;width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
}
.blog-post:hover a.blog-img::after{
  opacity: 0.5;
  visibility: visible;
}
.blog-post a.blog-img span.blog-icon{
  color: #222;
  font-size: 18px;
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.blog-post a.blog-img span.blog-icon:hover{
  color: #fff;
  background-color: #105caa;
}
.blog-post:hover a.blog-img span.blog-icon{
  opacity: 1;
  visibility: visible;
}
.blog-post a.blog-img span.date-time{
  color: #fff;
  position: absolute;
  bottom: 0px;
  display: flex;
  padding: 8px 15px;
  background-color: #105caa;
  z-index: 1;
}
.blog-post a.blog-img span.date-time span{
  display: block;margin-left: 3px;text-align: center;
}
.blog-post a.blog-img span.date-time span:first-child{margin-left: 0px;}
.blog-post a.blog-img::after,
.blog-post:hover a.blog-img::after,
.blog-post a.blog-img span.blog-icon,
.blog-post:hover a.blog-img span.blog-icon,
.blog-post a.blog-img span.blog-icon:hover{
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.blog-post .blog-post-content{
  padding-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.blog-post .blog-post-content h2{
  font-size: 16px;
  width: 100%;
  text-transform: capitalize;
}
.blog-post .blog-post-content h2 a{
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.blog-post .blog-post-content p{
  color: #666;
  margin-top: 16px;
}
.blog-post .blog-post-content a.read-btn{
  font-size: 16px;
  display: flex;
  align-items: baseline;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}
.blog-post .blog-post-content a.read-btn span{
  display: block;
}
.blog-post .blog-post-content a.read-btn i{
  display: block;
  position: relative;margin-left: 5px;}
.blog-post .blog-post-content a.read-btn:hover i{
  animation-name: arrow;
  animation-duration: 0.55s;
}
@keyframes arrow{
  0% {left: 0;}
  50% {left: 10px;}
  100% {left: 0;}
}
@media (max-width: 1199px){}
@media (max-width: 767px){
  .blog-post .blog-post-content p{
    margin-top: 6px;
  }
  .blog-post .blog-post-content a.read-btn{
    margin-top: 10px;
  }

}

/* pagination css */
.paginatoin-area ul.paginate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.paginatoin-area ul.paginate li.page-numerous p{
  line-height: 1;
}
.paginatoin-area ul.paginate li.page-numerous ul.pagination-box{
  display: flex;
}
.paginatoin-area ul.paginate li.page-numerous ul.pagination-box li{
  
  margin-right: 5px;
  
}
.paginatoin-area ul.paginate li.page-numerous ul.pagination-box li:last-child{
  
  margin-right: 0px;
  
}
.paginatoin-area ul.paginate li.page-numerous ul.pagination-box li a{
  color: #222;
  font-size: 14px;
  height: 30px;
  width: 30px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #e2e2e2;
  line-height: 30px;
}
.paginatoin-area ul.paginate li.page-numerous ul.pagination-box li a.Next,
.paginatoin-area ul.paginate li.page-numerous ul.pagination-box li a.Previous{
  
}
.paginatoin-area ul.paginate li.page-numerous ul.pagination-box li.active a,
.paginatoin-area ul.paginate li.page-numerous ul.pagination-box li:hover a{
  color: #fff;
  background-color: #105caa;
  border: 1px solid #105caa;
}
@media (max-width: 1199px) {
  .paginatoin-area ul.paginate {
    flex-direction: column;
  }
  .paginatoin-area ul.paginate li.page-numerous{
    margin-top: 15px;
  }
  .paginatoin-area ul.paginate li.page-numerous:first-child{
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .paginatoin-area ul.paginate {
    margin-top: 20px;
  }
}

/*timer css*/
.timer-section{
  width: 250px;
}
.timer-section ul.contdown_row{
  display: flex;
}
.timer-section ul.contdown_row li{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;margin-right: 10px;border: 1px solid #e2e2e2;
}
.timer-section ul.contdown_row li:last-child{
  margin-right: 0;
}
.timer-section ul.contdown_row li span{
  display: block;
  line-height: 1;
}
.timer-section ul.contdown_row li span.countdown_timer{
  color: #105caa;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.timer-section ul.contdown_row li span.countdown_title{
  font-size: 13px;
  margin-top: 10px;
}
@media (max-width: 767px){
  .timer-section{
    width: 100%;
  }
}

/*=====================================
    slider arrow css
======================================*/
#feture_pro_tab .single-product-wrap,
.feature-pro-owl .single-product-wrap,
.collection-slider .single-product-wrap{
  margin-top: 0;
}
#feture_pro_tab .swiper-buttons{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.feature-pro-owl.owl-carousel .owl-nav,
.blog-slider.owl-carousel .owl-nav,
.collection-category .collection-slider .owl-nav,
.product-related-slider.owl-carousel .owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.cat-slider.owl-theme .owl-nav button,
#feture_pro_tab .swiper-buttons button,
.feature-pro-owl.owl-carousel .owl-nav button,
.blog-slider.owl-carousel .owl-nav button,
.collection-category .collection-slider .owl-nav button,
.product-related-slider.owl-carousel .owl-nav button,
.brand-logo.owl-carousel .owl-nav button,
.deal-slider.owl-carousel .owl-nav button{
  font-size: 18px;
  color: #222;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;margin: 0 10px 0 0px;border: 1px solid #e2e2e2;
  border-radius: 0px;
  z-index: 1;
  line-height: 0;
  cursor: pointer;
}
.cat-slider.owl-theme .owl-nav button:last-child,
#feture_pro_tab .swiper-buttons button:last-child,
.feature-pro-owl.owl-carousel .owl-nav button:last-child,
.blog-slider.owl-carousel .owl-nav button:last-child,
.collection-category .collection-slider .owl-nav button:last-child,
.product-related-slider.owl-carousel .owl-nav button:last-child,
.brand-logo.owl-carousel .owl-nav button:last-child,
.deal-slider.owl-carousel .owl-nav button:last-child{
  margin: 0;
}
.cat-slider.owl-theme .owl-nav button:hover,
#feture_pro_tab .swiper-buttons button:hover,
.feature-pro-owl.owl-carousel .owl-nav button:hover,
.blog-slider.owl-carousel .owl-nav button:hover,
.collection-category .collection-slider .owl-nav button:hover,
.product-related-slider.owl-carousel .owl-nav button:hover,
.brand-logo.owl-carousel .owl-nav button:hover,
.deal-slider.owl-carousel .owl-nav button:hover{
  color: #fff;
  background-color: #105caa;
  border: 1px solid #105caa;
}
@media (max-width: 767px) {
  #feture_pro_tab .swiper-buttons,
  .feature-pro-owl.owl-carousel .owl-nav,
  .blog-slider.owl-carousel .owl-nav,
  .collection-category .collection-slider .owl-nav,
  .product-related-slider.owl-carousel .owl-nav {
    margin-top: 20px;
  }
}

/* scrollbar css */
.mini-cart ul.cart-item-loop,
.shop-sidebar ul.scrollbar,
.BOLD-mc-picker-mnt[data-open="up"] > .BOLD-mc-picker > .currencyList,
.productmodal .modal-dialog .modal-body .quick-view-content{
  scrollbar-width: thin;
  -webkit-scrollbar-width: thin;
}
.mini-cart ul.cart-item-loop::-webkit-scrollbar,
.shop-sidebar ul.scrollbar::-webkit-scrollbar,
.BOLD-mc-picker-mnt[data-open="up"] > .BOLD-mc-picker > .currencyList::-webkit-scrollbar,
.productmodal .modal-dialog .modal-body .quick-view-content::-webkit-scrollbar{
  width: 4px;
}
.mini-cart ul.cart-item-loop::-webkit-scrollbar-track,
.shop-sidebar ul.scrollbar::-webkit-scrollbar-track,
.BOLD-mc-picker-mnt[data-open="up"] > .BOLD-mc-picker > .currencyList::-webkit-scrollbar-track,
.productmodal .modal-dialog .modal-body .quick-view-content::-webkit-scrollbar-track{
  background-color: #eee;
}
.mini-cart ul.cart-item-loop::-webkit-scrollbar-thumb,
.shop-sidebar ul.scrollbar::-webkit-scrollbar-thumb,
.BOLD-mc-picker-mnt[data-open="up"] > .BOLD-mc-picker > .currencyList::-webkit-scrollbar-thumb,
.productmodal .modal-dialog .modal-body .quick-view-content::-webkit-scrollbar-thumb{
  background-color: #c1c1c1;
}
.mini-cart ul.cart-item-loop::-webkit-scrollbar-thumb:hover,
.shop-sidebar ul.scrollbar::-webkit-scrollbar-thumb:hover,
.BOLD-mc-picker-mnt[data-open="up"] > .BOLD-mc-picker > .currencyList::-webkit-scrollbar-thumb:hover,
.productmodal .modal-dialog .modal-body .quick-view-content::-webkit-scrollbar-thumb:hover{
  background-color: #105caa;
}

/* other page css */
/*=====================================
  privacy & terms page css
======================================*/
.rule-wrap ul li {
  margin-top: 15px;padding-left: 15px;position: relative;
}
.rule-wrap ul li:first-child {
  margin-top: 0px;
}
.rule-wrap ul li::before {
  content: "";
  position: absolute;
  top: 9px;left: 0;height: 5px;
  width: 5px;
  background-color: #105caa;
}
@media (max-width: 767px) {
  .rule-wrap ul li {
    margin-top: 5px;
  }
}

/*=====================================
  payment & return & shipping page css
======================================*/
.que-ans ul {
  counter-reset: question;
}
.que-ans ul li {
  margin-top: 30px;
  border: 1px solid #e2e2e2;
}
.que-ans ul li:first-child {
  margin-top: 0px;
}
.que-ans ul li p {padding-left: 15px;position: relative;
}
.que-ans ul li .question {
  color: #222;
  font-size: 16px;
  padding: 10px 15px;
  
}
.que-ans ul li .ans-accordian {
  padding: 0 15px;
  border-top: 1px solid #e2e2e2;
}
.que-ans ul li p {
  position: relative;
  margin-top: -16px;padding: 8px 0 8px 15px;}
.que-ans ul li p:first-of-type {
  margin-top: 0;
}
.que-ans ul li p::before {
  content: "";
  position: absolute;
  top: 17px;left: 0;height: 5px;
  width: 5px;
  background-color: #105caa;
}
@media (max-width: 767px) {
  .que-ans ul li {
    margin-top: 20px;
  }
}

/*=====================================
  shopify challenge css
======================================*/
.shopify-challenge__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.shopify-challenge__container p.shopify-challenge__message {
  font-size: 16px;
}
.shopify-challenge__container .g-recaptcha {
  margin: 30px 0 !important;
}
.shopify-challenge__container .shopify-challenge__button {
  color: #105caa;
  padding: 0;
  background-color: transparent;
  text-decoration: underline; 
  border: none;
}
.shopify-challenge__container .shopify-challenge__button:focus{
  border: none;
}
@media (max-width: 767px) {
  .shopify-challenge__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .shopify-challenge__container .g-recaptcha {
    margin: 20px 0 !important;
  }
}